# -------------------------------
# Vercel Deployments
# -------------------------------
github_api=https://githubsmartapi.vercel.app/
telegram_card=https://telegramcard.vercel.app/
aninews_api=https://aninews.vercel.app/
anichat_api=https://anichatapi.vercel.app/
aniquiz_api=https://aniquizapi.vercel.app/
anirecommend_api=https://anirecommend.vercel.app/
aniquotes_api=https://aniquotesapi.vercel.app/

# -------------------------------
# Cloudflare Workers
# -------------------------------
alisa_reaction_bot=https://alisareactionbot.ikx7a.workers.dev/

# -------------------------------
# GitHub Pages (Frontend Apps)
# -------------------------------
anilist=https://shineii86.github.io/AniList/
anistream=https://shineii86.github.io/AniStream/
aniresizer=https://shineii86.github.io/AniResizer/
anitrack=https://shineii86.github.io/AniTrack/
aniqr_generator=https://shineii86.github.io/AniQRGenerator/
anilink_generator=https://shineii86.github.io/AniLinkGenerator/
aniipfinder=https://shineii86.github.io/AniIPFinder/
aniemojis=https://shineii86.github.io/AniEmojis/
anishortener=https://shineii86.github.io/AniShortener/
